<!DOCTYPE html>
<html>
	<head>
		<title>Change Password</title>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			.container {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: absolute;
				height: 100%;
				width: 100%;
			}
			form {
				display: flex;
				flex-direction: column;
				min-width: 300px;
			}
			h1 {
				font-family: sans-serif;
				color: #272727;
				margin-bottom: 1.5rem;
			}
			input, button {
				outline: none;
				font-size: 1rem;
				padding: 1rem 1.5rem;
			}
			input {
				margin-bottom: 1.5rem;
				width: 100%;
			}
			input:nth-of-type(2), input:nth-of-type(3) {
				display: none;
			}
			button {
				background: #5d42f5;
				color: white;
				border-radius: 2rem;
				max-width: 200px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<% if (email && token) { %>
				<form method="POST" action="/updatepassword">
					<h1>Modern Dashboard</h1>
					<input type="text" name="newPassword" placeholder="Enter New Password" required />
					<input type="text" name="email" value=<%= email %> />
					<input type="text" name="token" value=<%= token %> />
					<button type="submit">Change Password</button>
				</form>
			<% } else { %>
				<div></div>
			<% } %>
		</div>
	</body>
</html>