@import './variables';

#pie-chart, #line-chart, #crypto {
        margin: 0 auto;
        // Line Chart
        .ct-chart {
			svg {
				transform: translateX(-20px);
			}
			.ct-grid.ct-horizontal {
				display: none;
			}
			.ct-bar {
				stroke-width: 4px;
				&:nth-of-type(1) {
					stroke: #32c245;
				}
				&:nth-of-type(2) {
					stroke: #27a0f0;
				}
				&:nth-of-type(3) {
					stroke: #fe9a04;
				}
				&:nth-of-type(4) {
					stroke: #886CFF;
				}
			}
            .ct-grid {
                stroke: rgba(0, 0, 0, 0.2);
                stroke-width: 1px;
                stroke-dasharray: 2px;
            }
            .ct-series {
                .ct-line {
                    stroke: $primary;
                    stroke-width: 4px;
                    fill: none;
                }
                .ct-point {
                    stroke: $primary;
                    stroke-width: 10px;
                    stroke-linecap: round;
                }
                .ct-area {
                    fill: $primary;
                    opacity: 0.3;
                }
            }
            .ct-labels {
                span {
					color: $darkGrey;
					text-align: center;
					justify-content: center;
					text-transform: capitalize
                }
                foreignObject {
                    span {
                        display: flex;
                        align-items: center;
                        &.ct-vertical {
							margin-left: 1rem;
							display: none;
                        }
                        &.ct-horizontal {
                        }
                    }
                }
                .ct-label {
                    font-size: 0.825rem;
                    &.ct-vertical {
                    }
                }
            }
        }
}