.tab-container {
    .no-tasks {
        margin-top: 1rem;
        color: $darkGrey;
    }
}

#tasks {
    max-width: 600px;
    button[aria-selected="true"] {
        color: white;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        button {
            span {
                background: none !important;
            }
        }
        span {
            // background: white;
        }
        .tabs {

        }
    }
    .task-content {
        min-height: 250px;
        max-height: 250px;
        overflow: scroll;
        .task {
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            margin-bottom: 0.5rem;
            padding: 0.5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $black;
            .left {
                display: flex;
                align-items: center;
                .title {
                    cursor: pointer;
                }
            }
            img {
                height: 20px;
                cursor: pointer;
                border: 1px solid red;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    #tasks {
        header {
            button {
            }
            span {
            }
            .tabs {}
        }
        .task-content {
            .task {
                .left {
                    .title {}
                }
            }
        }
    }
}