#uploader {
	position: relative;
	color: $darkGrey;
	width: 400px;
	height: 475px;
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: #f5f5f5;
	}
	::-webkit-scrollbar-thumb {
		background: $darkGrey;
	}
	::-webkit-scrollbar-thumb:hover {
	}
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1 {
			font-size: 1.5rem;
			font-weight: 300;
		}
		h6 {
			font-size: 0.925rem;
			font-weight: 300;
			cursor: pointer;
			color: $primary;
		}
	}
	#file-uploads {
		margin: 1rem 0;
		height: 350px;
		overflow-y: scroll;
		.files {
			margin-right: 1rem;
			.no-files {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.file {
				display: flex;
				padding: 0.75rem 0;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid rgb(233, 233, 233);
				a {
					color: $primary;
					cursor: pointer;
					text-decoration: none;
					width: 65%;
					&.preview {
						
					}
				}
				span {
					width: 25%;
					color: #c7c7c7;
					font-weight: 300;
				}
				svg {
					fill: $darkGrey;
					cursor: pointer;
					width: 10%;
					&:hover {
						fill: rgb(255, 60, 60);
					}
				}
			}
		}
	}
	#file-drop {
		.input {
			display: flex;
			width: 100%;
			margin: 1.5rem 0;
		}
		h6 {
			margin-bottom: 0.5rem;
			color: #949494;
		}
		.dropzone {
			display: flex;
			height: 150px;
			position: relative;
			margin-bottom: 2rem;
			// hide default file input
			input[type="file"] {
				display: none;
			}
			// custom file browser button
			button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.file-drop-target {
				border: 2px dashed $primary;
				border-radius: 8px;
				width: 100%;
			}
			h5 {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				text-align: center;
				span {
					color: $primary;
					cursor: pointer;
				}
			}
		}
		button[type="submit"] {
			display: flex;
			width: 100%;
			margin-bottom: 1rem;
		}
		.upload-progress {
			padding-top: 0.5rem;
			p {
				padding-top: 0.5rem;
				color: $primary;
			}
		}
		// When user starts dragging file into browser
		.file-drop-target.file-drop-dragging-over-frame {
			background: rgb(233, 243, 255);
		}
	}
	.storage {
		position: absolute;
		right: 1.5rem;
		bottom: 1.5rem;
		span {
			margin-bottom: 0.25rem;
			display: inline-block;
		}
	}
}

#media-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	.media {
		outline: none !important;
	}
	.inner {
		background: white;
		padding: 1.5rem;
		position: relative;
		display: flex;
		flex-direction: column;
		.audio {
			display: flex;
			flex-direction: column;
			audio {
				margin-bottom: 1.5rem;
				-webkit-box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				-moz-box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				outline: none;
				background: none;
				border-radius: 2rem;
				width: calc(40vw);
				min-width: 275px;
			}
		}
		.image {
			.preview-image {
				max-height: 400px;
				max-width: 600px;
				width: calc(40vw * 1.75);
				height: 40vw;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin-bottom: 1.5rem;
				-webkit-box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				-moz-box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				box-shadow: 0px 0px 14px -2px rgba(184, 184, 184, 1);
				background-color: white;
			}
		}
		h1 {
			font-size: 1.2rem;
			font-weight: 300;
			margin-bottom: 1.5rem;
			span {
				font-weight: 600;
			}
		}
		a {
			color: $primary;
			font-size: 1.2rem;
			text-decoration: none;
		}
		.close-modal {
			background: #e0e0e0;
			position: absolute;
			right: -15px;
			top: -15px;
			padding: 0.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0.8;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transition: all 0.4s ease-in-out;

			&:hover {
				background: red;
				opacity: 1;

				svg {
					fill: white;
				}
			}

			svg {
				max-width: 17px;
				fill: $darkGrey;
				transition: all 0.4s ease-in-out;
			}
		}
	}
}