@import './variables';

#dashboard {
    top: 0;
    height: 100vh;
    position: relative;
    .divider {
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.08);
    }
    #sidebar {
        float: left;
        .MuiPaper-root-30.MuiPaper-elevation0-32.MuiDrawer-paper-18.MuiDrawer-paperAnchorLeft-19.MuiDrawer-paperAnchorDockedLeft-23 {
            width: 260px;
            height: 100%;
            position: fixed;
            border: none;
            #sidebar-brand {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem;
                    text-decoration: none;
                    div.user-icon {
                        background: $primary;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }
                    span {
                        margin-left: 1rem;
                        color: black;
                    }
                }
            }
            .divider {
                height: 1px;
                width: 100%;
                background: rgba(0, 0, 0, 0.08);
            }
            #sidebar-links {
                a {
                    text-decoration: none;
                    div[role="button"] {
                        color: $darkGrey;
                    }
                }
            }

        }
    }
    
    #main-panel {
        float: right;
        width: calc(100% - 260px);
        overflow: auto;
        position: relative;
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        max-height: 100%;
        background: $lightGrey;
        .content {
            padding: 30px 15px;
            min-height: calc(100vh - 123px);
        }
    }
}