@import './variables';

#footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    color: $darkGrey;
    .links {
        span {
            margin-right: 1rem;
        }
    }
    .copyright {

    }
}