@import './variables';

#pie-chart, #line-chart {
    background: $primary !important;
    .chart-container {
        max-width: 300px;
        margin: 0 auto;
        // Line Chart
        .ct-chart {
            .ct-grid {
                stroke: rgba(255, 255, 255, 0.2);
                stroke-width: 1px;
                stroke-dasharray: 2px;
            }
            .ct-series {
                .ct-line {
                    stroke: rgba(255, 255, 255, 0.8);
                    stroke-width: 4px;
                    fill: none;
                }
                .ct-point {
                    stroke: rgba(255, 255, 255, 0.8);
                    stroke-width: 10px;
                    stroke-linecap: round;
                }
            }
            .ct-labels {
                span {
                    color: rgba(255, 255, 255, 0.39);
                }
                foreignObject {
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .ct-label {
                    font-size: 0.825rem;
                    &.ct-vertical {
                    }
                }
            }
        }
        // Pie Chart
        .ct-chart.ct-chart.ct-golden-section.ct-negative-labels {
            text {
                fill: white;
                font-weight: 300;
            }
            .ct-series {
                &.ct-series-a {
                    .ct-slice-pie {
                        fill: #7986cb;
                    }
                }
                &.ct-series-b {
                    .ct-slice-pie {
                        fill: #5c6bc0;
                    }
                }
                &.ct-series-c {
                    .ct-slice-pie {
                        fill: #9fa8da;
                    }
                }
            }
        }
    }
}