@import './variables';

#navbar {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    &.MuiAppBar-colorPrimary-98 {
        box-shadow: none;
        background: none;
    }
    div[role="tooltip"] {
        right: 1.5rem;
    }
    #toolbar {
        justify-content: space-between;
        button {
            color: $darkGrey;
        }
        .title {
            a {
                text-transform: capitalize;
                &:hover {
                    background: none;
                }
            }
            color: $darkGrey;
            text-transform: capitalize !important;
        }
        #links {
            display: flex;
            button {
                color: $darkGrey;
                min-width: 50px;
                &:hover {
                    background: none;
                }
                svg {
                    height: 1.2rem;
                    width: 1.2rem;
                }
            }
            .notification-item {
                a {
                    margin: 0;
                }
            }
            a {
                text-decoration: none;
                color: $primary;
                margin: 0 0.5rem;
            }
            .notifications-number {
                top: -2px;
                right: 3px;
                color: $darkGrey;
                border: 1px solid $darkGrey;
                height: 15px;
                display: block;
                position: absolute;
                font-size: 9px;
                min-width: 16px;
                text-align: center;
                line-height: 16px;
                border-radius: 12px;
                vertical-align: middle;
            }
        }
    }
}