@import './variables';

#profile {
    display: flex;
    .profile-form {
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        padding: 1.5rem;
        margin-right: 1.5rem;
        h1 {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            color: $darkGrey;
        }
        form {

        }
    }
    .profile-card {
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $darkGrey;
        .logo {
            height: 125px;
            width: 125px;
            background: $primary;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        .username {
            margin-bottom: 1rem;
            font-size: 0.825rem;
            color: rgb(197, 197, 197);
        }
        .full-name {
            font-size: 1.5rem;
        }
    }
}