@import './variables';

#uploader {
	position: relative;
	color: $darkGrey;
	width: 400px;
	height: 450px;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1 {
			font-size: 1.5rem;
			font-weight: 300;
		}
		h6 {
			font-size: 0.925rem;
			font-weight: 300;
			cursor: pointer;
			border-bottom: 1px solid $primary;
			padding-bottom: 0.125rem;
			color: $primary;
		}
	}
	#file-uploads {
		.files {
			padding: 1rem 0;
			.no-files {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.file {
				display: flex;
				padding: 0.5rem 0;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid black;
				a {
					color: $primary;
					cursor: pointer;
					text-decoration: none;
				}
				svg {
					fill: $darkGrey;
					cursor: pointer;
					&:hover {
						fill: rgb(255, 60, 60);
					}
				}
			}
		}
	}
	#file-drop {
		.input {
			display: flex;
			width: 100%;
			margin: 1.5rem 0;
		}
		h6 {
			margin-bottom: 0.5rem;
			color: #949494;
		}
		.dropzone {
			display: flex;
			height: 150px;
			position: relative;
			margin-bottom: 2rem;
			// hide default file input
			input[type="file"] {
				display: none;
			}
			// custom file browser button
			button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.file-drop-target {
				border: 2px dashed $primary;
				border-radius: 8px;
				width: 100%;
			}
			// when user is dragging
			h5.drag {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
			}
			h5.name {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				line-height: 1;
				display: inline-block;
				width: 180px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		button[type="submit"] {
			display: flex;
			width: 100%;
		}
		// When user starts dragging file into browser
		.file-drop-target.file-drop-dragging-over-frame {
			background: rgb(190, 190, 255);
		}
	}
}