@import './variables';

#calendar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-reminder {
    max-width: 400px;
}

.delete-widget {
    background: #e0e0e0;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.25rem;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    svg {
        width: 1rem;
        height: 1rem;
        path:first-of-type {
            transition: all 0.4s ease-in-out;
            fill: $darkGrey;
        }
    }
    &:hover {
        background: red;
        opacity: 1;
        svg {
            path:first-of-type {
                fill: #ffffff;
            }
        }
    }
}

#calendar-modal {
    #add-reminder {
        width: 60%;
        min-width: 300px;
    }
    h1 {
        font-size: 1.5rem;
        color: $darkGrey;
        margin-bottom: 1rem;
        font-weight: 300;
    }
    .form {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        #pick-date {
            
        }
        #pick-type {

        }
        #pick-title {
            
        }
        button {
            border-radius: 50%;
            max-height: 60px;
            max-width: 60px;
            min-height: 60px;
            margin-top: 1.5rem;
        }
    }
}

#widget-grid {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    padding: 2rem;
    .widget {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        background: white;
        padding: 1.5rem;
        margin: 0 2rem 2rem 0;
        box-sizing: border-box;
        position: relative;
        .chart-container {
            
        }
        &#tasks {
            max-height: 350px;
            width: 50%;
            min-width: 300px;
        }
        &#bookmarks {
            height: 275px;
            min-width: 300px;
            width: 33%;
        }
        &#line-chart {
            min-width: 300px;
            min-height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &#weather {
            min-height: 100px;
        }
        // CALENDAR
        &#calendar {
            display: flex;
            // align-items: center;
            justify-content: center;
            max-width: 350px;
            max-height: 350px;
            padding-bottom: 0;
            .picky-date-time.visible {
                box-shadow: none;
                padding: 0;
                padding-top: 0.825rem;
                .picky-date-time-calendar__body-container.xs {
                    height: 265px !important;
                }
                .picky-date-time-calendar__table-cel.today {
                    color: $primary;
                }
                .picky-date-time-calendar__title-container {
                    overflow: initial;
                }
                .picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item {
                    height: 30px;
                    width: 30px;
                }
                // Hide default close button
                .picky-date-time__close.picky-date-time-highlight_off {
                    display: none;
                }
                .picky-date-time__calendar {
                    margin: 0;
                }
                // Main calendar
                .picky-date-time-calendar {
                    margin-top: -2rem;
                    // Header
                    .picky-date-time-calendar__header {
                        margin-bottom: 0.5rem;
                        .picky-date-time__col.picky-date-time__col-6 {
                            &:hover {
                                .picky-date-time-calendar__title-container {
                                    span {
                                        color: primary;
                                    }
                                }
                            }
                            span {
                                color: $primary;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .picky-date-time-calendar__table-row {
                        .picky-date-time-calendar__table-caption {
                            font-family: Roboto,Helvetica,Arial,sans-serif !important;
                        }
                    }
                    // Content
                    .picky-date-time-calendar__content {
                        .picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item {
                            font-family: Roboto,Helvetica,Arial,sans-serif !important;
                        }
                        // All Days
                        .picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item {
                            &:hover {
                                background: $primaryLight;
                            }
                        }
                        // Current Day
                        .picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item.today.active {
                            color: white;
                            background: $primary;

                        }
                        // Disabled days
                        .picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item.disabled {
                            background: none !important;
                        }
                    }
                    // Current day button
                    .picky-date-time-calendar__button.picky-date-time-calendar__today {
                        display: none;
                    }
                }
            }
        }
        // CLOCK
        &#clock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // grid-row: 1 / 2;
            // grid-column: 6 / 7;
            height: 275px;
            width: 275px;
            // grid-column: 9 / 12;
            // Display Clock
            .picky-date-time.visible {
                box-shadow: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                .picky-date-time__clock.xs {
                    margin-top: 1.5rem;
                }
                .picky-date-time-clock {
                    margin-bottom: 1.5rem;
                    // Clock circle
                    .picky-date-time-clock__circle {
                        background: none;
                        box-shadow: none;
                        height: 100px;
                        width: 100px;
                        border: none;
                        margin: 0 auto;
                        // Seconds hand
                        .picky-date-time-clock__clock-hand.picky-date-time-clock__clock-hand--second {
                            background: #ff2e2e;
                            width: 2px;
                        }
                        // Minute hand
                        .picky-date-time-clock__clock-hand.picky-date-time-clock__clock-hand--minute { 
                        }
                        // Hour hand
                        .picky-date-time-clock__clock-hand.picky-date-time-clock__clock-hand--hour {
                        }
                        // 12, 3, 6, 9 hour indicators
                        .picky-date-time-clock__clock-minute--five.picky-date-time-clock__clock-minute--quarter {
                            background: #ff2e2e;
                        }
                        // General minute indicators
                        .picky-date-time-clock__clock-minute {
                            // display: none;
                        }
                        // Every other five minutes indicator
                        .picky-date-time-clock__clock-minute.picky-date-time-clock__clock-minute--five {
                            // display: none;
                        }
                    }
                }
            }
            // Hide default time output
            .picky-date-time-clock__inputer-wrapper {
                display: none;
            }
            // Hide close icon
            .picky-date-time__close.picky-date-time-highlight_off {
                display: none;
            }
            // Display time and date
            .time {
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                font-weight: 300;
            }
            .date {
                text-align: center;
                font-weight: 300;
            }
        }
    }
}

// Big screens
@media screen and (min-width: 1120px) {
    #widget-grid {
        .widget {
            &:nth-child(1) {
            }
        }
    }
}

@media screen and (max-width: 960px) {
    #widget-grid {
        // background: green;
    }
}

@media screen and (max-width: 768px) {
    #widget-grid {
        padding: 1.5rem;
        justify-content: center;
        .widget {
            max-width: none !important;
            &#tasks {
                width: 100%;
                margin: 0 0 2rem 0;
            }

            &#bookmarks {
                margin: 0 0 2rem 0;
                width: 100%;
            }

            &#pie-chart {
            }

            &#line-chart {

            }

            &#calendar {
                width: 100%;
                margin: 0 0 2rem 0;
            }

            &#clock {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                // margin: 0 0 2rem 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #widget-grid {
        justify-content: center;
        align-items: center;
        .widget {
            max-width: none !important;
            margin: 0 0 3rem !important;
            &#tasks {
                width: 100%;
            }

            &#bookmarks {
                width: 100%;
            }

            &#pie-chart {
            }

            &#line-chart {
            }

            &#calendar {
                width: 100%;
                min-width: 300px;
            }

            &#clock {
                // margin: 0 auto;
            }
            &#weather {
                min-width: 300px;
            }
        }
    }
}