@import './variables';

#widget-grid {
    .widget {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        background: white;
        padding: 1.5rem;
        &#tasks {
            
        }
        &#calendar {

        }
        &#bookmarks {
            
        }
        &#graph {
        }
        &#clock {

        }
    }
}